﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Budgetco.Data
@using Budgetco.Data.Models
@model Budgetco.Data.Models.InputModel
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<h1 style="width: 100%; text-align: center" id="pageTitle">My records</h1>
<label for="viewTypeMenu">View type:</label>
<select id="viewTypeMenu">
    <option value="table">Table</option>
    <option value="graph">Charts</option>
</select>

<button id="addNewRecord">Add Record</button>

<br /><br />

<div id="buttons-div">
    <button data-toggle="collapse" data-target="#filters" id="filter-button">Filters</button><br /><br />
    <div id="filters" class="collapse">

        <label for="transactionTypesMenu">Transaction type:</label>

        <select id="transactionTypesMenu">
            <option value="all">All transactions</option>
            <option value="expenses">Expenses</option>
            <option value="incomes">Incomes</option>
        </select>
        <br/><br/>

        <div id="subtypeMenuDiv">
            <label>Transaction subtype:</label>
            <select id="subtypeMenu"></select>
            <br/><br/>
        </div>
        

        <div id="date_filter" class="row">
            <div class="col-lg-2">
                <label id="date-label-from">From: </label><input class="form-control" style="background: url(https://cdn2.iconfinder.com/data/icons/business-2/512/Icon_14-16.png) no-repeat; background-Position: 97% center; cursor: pointer;" type="text" id="datepicker_from"/>
            </div>
            <div class="col-lg-2">
                <label id="date-label-to">To: </label><input class="form-control" style="background: url(https://cdn2.iconfinder.com/data/icons/business-2/512/Icon_14-16.png) no-repeat; background-Position: 97% center; cursor: pointer;" type="text" id="datepicker_to"/>
            </div>
        </div>

    </div>
</div>

    <!--Create new record input form-->
    <div id="input-form-div" title="New record" class="ui-front">
        <form method="post" id="input-form">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
            <br />
            <select id="record-type-select">
                <option value="income">Income</option>
                <option value="expense">Expense</option>
            </select>
            <br />
            <div id="expense-select">
                <label for="ExpenseType">Expense type</label>
                <input asp-for="ExpenseType" id="ExpenseType" class="form-control" autocomplete="on" value="" />
                <span asp-validation-for="ExpenseType" class="text-danger"></span>
            </div>
            <div id="income-select">
                <label for="IncomeType">Income type</label>
                <input asp-for="IncomeType" id="IncomeType" class="form-control" autocomplete="on" value="" />
                <span asp-validation-for="IncomeType" class="text-danger"></span>
            </div>

            <label asp-for="Amount"></label>
            <input asp-for="Amount" class="form-control" />
            <span asp-validation-for="Amount" class="text-danger"></span>

            <label for="item-description">Description</label>
            <input type="text" id="item-description" class="form-control" />
        </form>
    </div>

    <!--Edit dialog form-->
    <div id="edit-form-div" title="Edit record" class="ui-front">
        <form method="post" id="edit-form">
            <label asp-for="Name"></label>
            <input asp-for="Name" id="edit-name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
            <br />
            <select id="edit-record-type-select">
                <option value="income">Income</option>
                <option value="expense">Expense</option>
            </select>
            <br />
            <div id="edit-expense-select">
                <label for="ExpenseType">Expense type</label>
                <input asp-for="ExpenseType" id="edit-ExpenseType" class="form-control" autocomplete="on" value="" />
                <span asp-validation-for="ExpenseType" class="text-danger"></span>
            </div>
            <div id="edit-income-select">
                <label for="IncomeType">Income type</label>
                <input asp-for="IncomeType" id="edit-IncomeType" class="form-control" autocomplete="on" value="" />
                <span asp-validation-for="IncomeType" class="text-danger"></span>
            </div>

            <label asp-for="Amount"></label>
            <input asp-for="Amount" id="edit-amount" class="form-control" />
            <span asp-validation-for="Amount" class="text-danger"></span>
            <br />
            <label for="edit-item-description">Description</label>
            <input type="text" id="edit-item-description" class="form-control" />
        </form>
    </div>


<!--Shows if item is added or not-->
<div id="snackbar"></div>

<h3 id="title" style="width: 100%; text-align: center">Table</h3>

<div id="graphs">
    <div class="all-charts">
        <div class="canvas chart" style="display: none">
            <canvas id="graph"></canvas>
        </div>
    </div>
    <div id="newChartWrapper">
    <button data-toggle="collapse" data-target="#new-chart-form" id="new-chart-button">New chart</button><br/><br/>
        <div id="new-chart-form" class="collapse">
            <form id="create-chart-form">
                <label for="chart-type">Chart type:</label>
                <select id="chart-type">
                    <option value="line">Line</option>
                    <option value="bar">Bar</option>
                    <option value="radar">Radar</option>
                    <option value="doughnut">Doughnut</option>
                    <option value="pie">Pie</option>
                    <option value="polarArea">Polar area</option>
                </select>
                <br/><br/>


                <label for="transaction-type-chart">Choose transactions to show:</label>
                <select id="transaction-type-chart">
                    <option value="all">All transactions</option>
                    <option value="expenses">Expenses</option>
                    <option value="incomes">Incomes</option>
                </select>
                <br/><br/>

                <div id="transaction-subtype-chart-div">
                    <label>Transaction subtype:</label>
                    <select id="transaction-subtype-chart"></select>
                    <br/><br/>
                </div>


                <div>
                    <label for="x-axis-select">X-axis type</label>
                    <select id="x-axis-select">
                        <option value="Time">Time</option>
                        <option value="Category">Category</option>
                    </select>
                </div>

                <div id="date-range-chart" class="row">
                    <div class="col-lg-2">
                        <label id="date-label-from">From: </label><input class="form-control" style="background: url(https://cdn2.iconfinder.com/data/icons/business-2/512/Icon_14-16.png) no-repeat; background-Position: 97% center; cursor: pointer;" type="text" id="datepicker_from_chart"/>
                    </div>
                    <div class="col-lg-2">
                        <label id="date-label-to">To: </label><input class="form-control" style="background: url(https://cdn2.iconfinder.com/data/icons/business-2/512/Icon_14-16.png) no-repeat; background-Position: 97% center; cursor: pointer;" type="text" id="datepicker_to_chart"/>
                    </div>
                </div>


            </form>
            <br/><br/>
            <button id="submit-chart">Submit</button>
            <button type="reset" value="reset" id="reset-button">Reset</button>
        </div>
    </div>
</div>

<!--Use this div to hide an entire table (because of datatables rendering)-->
<div id="table-div">
    @Html.Partial("RecordsView", Model.PartialModel)
</div>
@section scripts {

<script type="text/javascript">
        //localStorage.clear();
        if (typeof (Storage) !== "undefined") {
            indexUserCharts();
            renderStorageGraphs();
        } else {
            alert("Web storage is not allowed. Any created graphs will be lost.");
        }

        $("document").ready(function () {
            
            $("#filter-button").button();
            var expenses = [
                "Groceries", "Rent", "Car", "Bills", "Entertainment",
                "Electronics", "Clothes", "Toiletries", "Eating Out",
                "Gifts", "Health", "House", "Pets", "Alcohol", "Tobacco"
            ];
            var incomes = ["Salary", "Allowance", "Gift"];

            var form = $("#input-form")
                .removeData("validator")
                .removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse(form);

            var editForm = $("#edit-form")
                .removeData("validator")
                .removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse(editForm);

            var newRowId;
            
            $.fn.dataTable.moment('DD.MM.YYYY');
            $.extend($.fn.dataTable.ext.classes, {
                sStripeEven: '', sStripeOdd: ''
            });
            recordTypeFilter();
            dateFilter();
            var table = $("#records-table").DataTable({
                "columnDefs": [
                    { "orderable": false, "targets": 5 }
                ],
                "fnCreatedRow": function(nRow, aData, iDataIndex) {
                    if (isIncome(aData[1])) {
                        $(nRow).addClass('income-record');
                    } else {
                        $(nRow).addClass('expense-record');
                    }
                    $(nRow).attr("value", newRowId);
                },
                "drawCallback": function(settings) {
                    updateEditAndRemoveFields();
                }
            });

            var recordsCount = @Model.RecordModel.Count;

            hasDatabaseSetChanged(recordsCount, false);
            
            //hide uneccessary elements
            $("#graphs").hide();
            resetDialog();


            function updateEditAndRemoveFields() {
                $(".edit-item, .remove-item").unbind();
                $(".edit-item, .remove-item").removeAttr("onclick");
                $(".edit-item").on("click",
                    function () {
                        var tableRow = $(this).closest('tr');
                        renderEditDialog(tableRow, $(this), editForm, "/MyRecords/EditRecord/");
                        $("#edit-form-div").dialog("open");
                    });

                //When clicked on remove link, post to controller and remove from database
                //Also remove directly from table without refreshing the page
                $(".remove-item").on("click",
                    function () {
                        var id = $(this).closest('tr').attr("value");
                        var myRemoveItem = $(this);
                        $.post("/MyRecords/RemoveRecord/",
                            AddAntiForgeryToken({ id: id }),
                            function (data) {
                                if (data) {
                                    //SUCCESS
                                    $("#snackbar").text("Item removed successfully!");
                                    var row = myRemoveItem.closest('tr');
                                    table.row(row).remove().draw(false);
                                    showSnackbar();
                                } else {
                                    //FAILURE
                                    $("#snackbar").text("There has been a problem deleting your item. Try again...");
                                    showSnackbar();
                                }
                            });
                    });
            }


            //Add autocomplete items to input elements
            $("#ExpenseType").autocomplete({
                source: [
                    "Groceries", "Rent", "Car", "Bills", "Entertainment",
                    "Electronics", "Clothes", "Toiletries", "Eating Out",
                    "Gifts", "Health", "House", "Pets", "Alcohol", "Tobacco"
                ],
                minLength: 0
            }).focus(function() {
                $(this).data("uiAutocomplete").search($(this).val());
            });


            $("#IncomeType").autocomplete({
                source: ["Salary", "Allowance", "Gift"],
                minLength: 0
            }).focus(function() {
                $(this).data("uiAutocomplete").search($(this).val());
            });

            $("#edit-ExpenseType").autocomplete({
                source: [
                    "Groceries", "Rent", "Car", "Bills", "Entertainment",
                    "Electronics", "Clothes", "Toiletries", "Eating Out",
                    "Gifts", "Health", "House", "Pets", "Alcohol", "Tobacco"
                ],
                minLength: 0
            }).focus(function() {
                $(this).data("uiAutocomplete").search($(this).val());
            });


            $("#edit-IncomeType").autocomplete({
                source: ["Salary", "Allowance", "Gift"],
                minLength: 0
            }).focus(function() {
                $(this).data("uiAutocomplete").search($(this).val());
            });


            $("#Amount").on("click",
                function() {
                    $(this).select();
                });

            //when option is changed render different view
            $("#viewTypeMenu").selectmenu({
                change: function(event, ui) {
                    if ($(this).find(":selected").text().valueOf() === "Table".valueOf()) {
                        $("#title").empty().append("Table");
                        $("#graphs").hide();
                        $("#table-div").fadeIn(500);
                        $("#buttons-div").show();
                    } else {
                        $("#table-div").hide();
                        $("#buttons-div").hide();
                        $("#graphs").fadeIn(500);
                        $("#title").empty().append("Charts");
                    }
                }
            });


            var subTypeMenu = $("#subtypeMenu").selectmenu();
            subTypeMenu.on('selectmenuchange', function() {
                var val = $.fn.dataTable.util.escapeRegex($(this).val());
                var column = table.column(1);
                column.search(val !== "allTypes" ? '^' + val + '$' : '', true, false).draw();
            });

            $("#subtypeMenuDiv").hide();
            $("#transactionTypesMenu").selectmenu({
                change: function(event, ui) {
                    var options = [];
                    if ($(this).find(":selected").text().valueOf() === "Incomes".valueOf()) {
                        options.push("<option value='" + "allTypes" + "'>" + "All Types" + "</option>");
                        incomes.forEach(function (item) {
                            options.push("<option value='" + item
                                + "'>" + item + "</option>");
                        });
                        subTypeMenu.empty().append(options.join("")).selectmenu("widget").show();
                        $("#subtypeMenuDiv").show();
                    } else if ($(this).find(":selected").text().valueOf() === "Expenses".valueOf()) {
                        options.push("<option value='" + "allTypes" + "'>" + "All Types" + "</option>");
                        expenses.forEach(function (item) {
                            options.push("<option value='" + item
                                + "'>" + item + "</option>");
                        });
                        subTypeMenu.empty().append(options.join("")).selectmenu("widget").show();
                        $("#subtypeMenuDiv").show();
                    } else {
                        subTypeMenu.val("allTypes");
                        subTypeMenu.selectmenu("refresh");
                        $("#subtypeMenuDiv").hide();
                    }

                    subTypeMenu.selectmenu("refresh");
                    var column = table.column(1);
                    column.search('', true, false).draw();
                }
            });


            $("#input-form-div").dialog({
                open: function(event, ui) {
                    $("#input-form-div").dialog();
                    $(".ui-dialog-titlebar-close", ui.dialog | ui).hide();
                },
                draggable: false,
                resizable: false,
                width: 350,
                modal: true,
                position: {
                    my: 'center top',
                    at: 'center bottom',
                    of: "#addNewRecord"
                },
                show: 300,
                hide: 300,
                autoOpen: false,
                buttons: {
                    //ajax call to submit data
                    "Submit": function() {
                        form.validate();
                        if (form.valid()) {
                            $(this).dialog("close");
                            var name = $("#Name").val();
                            var amount = $("#Amount").val();
                            var description = $("#item-description").val();
                            var type;
                            if ($("#record-type-select").find(":selected").text().valueOf() === "Income".valueOf()) {
                                type = $("#IncomeType").val();
                            } else {
                                type = $("#ExpenseType").val();
                            }
                            $.post("/MyRecords/AddRecord/",
                                AddAntiForgeryToken({ name: name, type: type, amount: amount, description: description }),
                                function(data) {
                                    if (data != null) {
                                        //SUCCESS
                                        $("#snackbar").text("Item added successfully!");
                                        showSnackbar();
                                        newRowId = data.id;
                                        table.row.add([
                                            name, type, description, isIncome(type) ? parseFloat(Math.abs(amount)).toFixed(2) : parseFloat(Math.abs(amount)*-1).toFixed(2), formatDate(data.date),
                                            '<a class="edit-item" style=" cursor: pointer;">Edit</a> ' +
                                            '| <a class="remove-item" style="cursor:pointer;">Remove</a>'
                                        ]).draw(false);
                                    } else {
                                        //FAILURE
                                        $("#snackbar").text("There has been a problem adding your item. Try again...");
                                        showSnackbar();
                                    }
                                });

                            //If item is added or not -> reset input form
                            $("#input-form").trigger('reset');
                            resetDialog();
                        }
                    },
                    "Cancel": function() {
                        $(this).dialog("close");
                    }
                }
            });

            //open a dialog box with form when + button is clicked
            $("#addNewRecord").on("click",
                function() {
                    $("#input-form-div").dialog("open");
                }).button();



            //Record type in the form
            $("#record-type-select").selectmenu({
                change: function(event, ui) {
                    if ($(this).find(":selected").text().valueOf() === "Income".valueOf()) {
                        $("#expense-select").hide();
                        $("#income-select").show();
                    } else {
                        $("#income-select").hide();
                        $("#expense-select").show();
                    }
                }
            });
            $("#edit-form-div").hide();

            $("#datepicker_from").datepicker({
                dateFormat: 'dd.mm.yy',
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true,
                autoSize: true
            }).on("keyup change", function () {
                table.draw();
            });

            $("#datepicker_to").datepicker({
                dateFormat: 'dd.mm.yy',
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true,
                autoSize: true
            }).on("keyup change", function () {
                table.draw();
            });

        var subTypeMenuChart = $("#transaction-subtype-chart").selectmenu();

            var transactionTypeChart = $("#transaction-type-chart").selectmenu({
                change: function(event, ui) {
                    var options = [];
                    if ($(this).find(":selected").text().valueOf() === "Incomes".valueOf()) {
                        options.push("<option value='" + "allTypes" + "'>" + "All Types" + "</option>");
                        incomes.forEach(function (item) {
                            options.push("<option value='" + item
                                + "'>" + item + "</option>");
                        });
                        subTypeMenuChart.empty().append(options.join("")).selectmenu("widget");
                        $("#transaction-subtype-chart-div").show();
                    } else if ($(this).find(":selected").text().valueOf() === "Expenses".valueOf()) {
                        options.push("<option value='" + "allTypes" + "'>" + "All Types" + "</option>");
                        expenses.forEach(function (item) {
                            options.push("<option value='" + item
                                + "'>" + item + "</option>");
                        });
                        subTypeMenuChart.empty().append(options.join("")).selectmenu("widget");
                        $("#transaction-subtype-chart-div").show();
                    } else {
                        subTypeMenuChart.val("allTypes");
                        subTypeMenuChart.selectmenu("refresh");
                        $("#transaction-subtype-chart-div").hide();
                    }

                    subTypeMenuChart.selectmenu("refresh");
                }
            });

            $("#new-chart-button").button();
            $("#transaction-subtype-chart-div").hide();

            var dateFromChart = $("#datepicker_from_chart").datepicker({
                dateFormat: 'dd.mm.yy',
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true,
                autoSize: true
            });

            var dateToChart = $("#datepicker_to_chart").datepicker({
                dateFormat: 'dd.mm.yy',
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true,
                autoSize: true
            });

            $("#reset-button").button().click(function () {
                $("#create-chart-form")[0].reset();


                if (transactionTypeChart.find(":selected").text().valueOf() === "Incomes".valueOf()) {
                    $("#transaction-subtype-chart-div").show();
                } else if (transactionTypeChart.find(":selected").text().valueOf() === "Expenses".valueOf()) {
                    $("#transaction-subtype-chart-div").show();
                } else {
                    $("#transaction-subtype-chart-div").hide();
                }
            });

            currentNumberOfCharts = $("canvas").length;

            var xAxis = $("#x-axis-select").selectmenu();

            var chartType = $("#chart-type").selectmenu();
            $("#submit-chart").button().click(function () {
                getChart((dateFromChart.val()),
                    (dateToChart.val()),
                    chartType.val(),
                    transactionTypeChart.val(),
                    subTypeMenuChart.val(),
                    null,
                    xAxis.val()
                );
            });

            makeChartsDraggable();

            //END OF JQUERY CODE
        });


</script>
}

