﻿@model Budgetco.Data.Models.GroupsViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1 style="width: 100%; text-align: center">Groups</h1>

<label for="viewTypeMenu">View type:</label>
<select id="viewTypeMenu">
    <option value="table">Table</option>
    <option value="graph">Charts</option>
</select>
<span>
    <button id="create-group-button">New Group</button>

    <button id="addNewRecord">New Record</button>
    <button id="addNewUser" data-toggle="collapse" data-target="#info">Add user</button>
    
</span>
<br/>
<br/>
<div id="info" class="collapse">
    <form>
        <label for="group-select-user">Group:</label>
        <select id="group-select-user"></select>
        <br/><br/>
        <input asp-for="InputEmail" autocomplete="email" value="default@example.com" id="newUserEmail" class="form-control"/>
        <span asp-validation-for="InputEmail" class="text-danger"></span>
        <br/>
        <button id="add-user-to-group" type="button">Add</button>
        <button id="reset-user-button" type="reset" class="btn btn-sm btn-danger">Reset</button>
        <br/>
    </form>
    
</div>

<br/><br/>
     <div id="buttons-div">
         <button data-toggle="collapse" data-target="#filters" id="filter-button">Filters</button><br/><br />
         <div id="filters" class="collapse">
             <label for="transactionTypesMenu">Transaction type:</label>
             <select id="transactionTypesMenu">
                 <option value="all">All transactions</option>
                 <option value="expenses">Expenses</option>
                 <option value="incomes">Incomes</option>
             </select>      
             <br/><br/>

             <div id="subtypeMenuDiv">
                 <label>Transaction subtype:</label>
                 <select id="subtypeMenu"></select>
                 <br/><br/>
             </div>
             
             <div id="date_filter" class="row">
                 <div class="col-lg-2">
                     <label id="date-label-from">From: </label><input class="form-control" style="background: url(https://cdn2.iconfinder.com/data/icons/business-2/512/Icon_14-16.png) no-repeat; background-Position : 97% center; cursor:pointer;" type="text" id="datepicker_from" />
                 </div>
                 <div class="col-lg-2">
                     <label id="date-label-to">To: </label><input class="form-control" style="background: url(https://cdn2.iconfinder.com/data/icons/business-2/512/Icon_14-16.png) no-repeat; background-Position : 97% center; cursor:pointer;" type="text" id="datepicker_to"/>
                 </div>
             </div>
             <br/><br/>

             <label for="group-select">Group:</label>
             <select id="group-select"></select>


         </div>
     </div>
<br />
<div id="create-group-div">
    <form method="post" id="create-group-form">
        <label asp-for="GroupName"></label>
        <input asp-for="GroupName" class="form-control" />
        <span asp-validation-for="GroupName" class="text-danger"></span>
        <br />
        <div id="wrapper">
            <div class="usergroupemail">
                <p><strong>User emails:</strong></p>
                <input asp-for="InputEmail" autocomplete="email" value="default@example.com" id="0" class="form-control"/>
                <span asp-validation-for="InputEmail" class="text-danger"></span>
                <br/>
            </div>
        </div>
        <button id="add-user-email" type="button">New user</button>
    </form>
</div>

<!--Create new record input form-->
<div id="input-form-div" title="New record" class="ui-front">
    <form method="post" id="input-form">
        <label for="group-name-select">Group name</label>
        <select id="group-name-select"></select>
        <br />
        <br />
        <label asp-for="InputRecord.Name"></label>
        <input asp-for="InputRecord.Name" class="form-control" />
        <span asp-validation-for="InputRecord.Name" class="text-danger"></span>
        <br />
        <select id="record-type-select">
            <option value="income">Income</option>
            <option value="expense">Expense</option>
        </select>
        <br />
        <div id="expense-select">
            <label for="ExpenseType">Expense type</label>
            <input asp-for="InputRecord.ExpenseType" id="ExpenseType" class="form-control" autocomplete="on" value="" />
            <span asp-validation-for="InputRecord.ExpenseType" class="text-danger"></span>
        </div>
        <div id="income-select">
            <label for="IncomeType">Income type</label>
            <input asp-for="InputRecord.IncomeType" id="IncomeType" class="form-control" autocomplete="on" value="" />
            <span asp-validation-for="InputRecord.IncomeType" class="text-danger"></span>
        </div>

        <label asp-for="InputRecord.Amount"></label>
        <input asp-for="InputRecord.Amount" class="form-control" />
        <span asp-validation-for="InputRecord.Amount" class="text-danger"></span>
        <br />
        <label for="item-description">Description</label>
        <input type="text" id="item-description" class="form-control" />
    </form>
</div>

<!--Edit dialog form-->
<div id="edit-form-div" title="Edit record" class="ui-front">
    <form method="post" id="edit-form">
        <label for="group-name-edit-select">Group name</label>
        <select id="group-name-edit-select"></select>
        <br />
        <br />
        <label asp-for="InputRecord.Name"></label>
        <input asp-for="InputRecord.Name" id="edit-name" class="form-control" />
        <span asp-validation-for="InputRecord.Name" class="text-danger"></span>
        <br />
        <select id="edit-record-type-select">
            <option value="income">Income</option>
            <option value="expense">Expense</option>
        </select>
        <br />
        <div id="edit-expense-select">
            <label for="ExpenseType">Expense type</label>
            <input asp-for="InputRecord.ExpenseType" id="edit-ExpenseType" class="form-control" autocomplete="on" value="" />
            <span asp-validation-for="InputRecord.ExpenseType" class="text-danger"></span>
        </div>
        <div id="edit-income-select">
            <label for="IncomeType">Income type</label>
            <input asp-for="InputRecord.IncomeType" id="edit-IncomeType" class="form-control" autocomplete="on" value="" />
            <span asp-validation-for="InputRecord.IncomeType" class="text-danger"></span>
        </div>

        <label asp-for="InputRecord.Amount"></label>
        <input asp-for="InputRecord.Amount" id="edit-amount" class="form-control" />
        <span asp-validation-for="InputRecord.Amount" class="text-danger"></span>
        <br />
        <label for="edit-item-description">Description</label>
        <input type="text" id="edit-item-description" class="form-control" />
    </form>
</div>

<div id="graphs">
    <div class="all-charts">
        <div class="canvas chart" style="display: none">
            <canvas id="graph"></canvas>
        </div>
    </div>
    <br /><br />
    <button data-toggle="collapse" data-target="#new-chart-form" id="new-chart-button">New chart</button><br/><br/>
    <div id="new-chart-form" class="collapse">
        <form id="create-chart-form">
            <label for="chart-type">Chart type:</label>
            <select id="chart-type">
                <option value="line">Line</option>
                <option value="bar">Bar</option>
                <option value="radar">Radar</option>
                <option value="doughnut">Doughnut</option>
                <option value="pie">Pie</option>
                <option value="polarArea">Polar area</option>
            </select>
            <br /><br />

            <label for="transaction-type-chart">Choose transactions to show:</label>
            <select id="transaction-type-chart">
                <option value="all">All transactions</option>
                <option value="expenses">Expenses</option>
                <option value="incomes">Incomes</option>
            </select>
            <br /><br />

            <div id="transaction-subtype-chart-div">
                <label>Transaction subtype:</label>
                <select id="transaction-subtype-chart"></select>
                <br /><br />
            </div>


            <div>
                <label for="x-axis-select">X-axis type:</label>
                <select id="x-axis-select">
                    <option value="Time">Time</option>
                    <option value="Category">Category</option>
                </select>
            </div>

            <div id="date-range-chart" class="row">
                <div class="col-lg-2">
                    <label id="date-label-from">From: </label><input class="form-control" style="background: url(https://cdn2.iconfinder.com/data/icons/business-2/512/Icon_14-16.png) no-repeat; background-Position: 97% center; cursor: pointer;" type="text" id="datepicker_from_chart" />
                </div>
                <div class="col-lg-2">
                    <label id="date-label-to">To: </label><input class="form-control" style="background: url(https://cdn2.iconfinder.com/data/icons/business-2/512/Icon_14-16.png) no-repeat; background-Position: 97% center; cursor: pointer;" type="text" id="datepicker_to_chart" />
                </div>
            </div>
            <br /><br />
            <label for="group-select">Group:</label>
            <select id="group-select-chart"></select>


        </form>
        <br/><br/>
        <button id="submit-chart">Submit</button>
        <button type="reset" value="reset" id="reset-button">Reset</button>
    </div>
</div>

<div id="table-div">
    @Html.Partial("RecordsView", Model.PartialModel)
</div>
<!--Shows if item is added or not-->
<div id="snackbar"></div>

@section scripts {


    <script type="text/javascript">
        //localStorage.clear();
        if (typeof (Storage) !== "undefined") {
            indexCharts();
            renderStorageGraphs();
        } else {
            alert("Web storage is not allowed. Any created graphs will be lost.");
        }
        $("document").ready(function () {

            $("#filter-button").button();
            $("#subtypeMenuDiv").hide();

            var expenses = [
                "Groceries", "Rent", "Car", "Bills", "Entertainment",
                "Electronics", "Clothes", "Toiletries", "Eating Out",
                "Gifts", "Health", "House", "Pets", "Alcohol", "Tobacco"
            ];
            var incomes = ["Salary", "Allowance", "Gift"];
            $("#ExpenseType").autocomplete({
                source: expenses,
                minLength: 0
            }).focus(function() {
                $(this).data("uiAutocomplete").search($(this).val());
            });


            $("#IncomeType").autocomplete({
                source: incomes,
                minLength: 0
            }).focus(function() {
                $(this).data("uiAutocomplete").search($(this).val());
            });

            $("#edit-ExpenseType").autocomplete({
                source: [
                    "Groceries", "Rent", "Car", "Bills", "Entertainment",
                    "Electronics", "Clothes", "Toiletries", "Eating Out",
                    "Gifts", "Health", "House", "Pets", "Alcohol", "Tobacco"
                ],
                minLength: 0
            }).focus(function() {
                $(this).data("uiAutocomplete").search($(this).val());
            });


            $("#edit-IncomeType").autocomplete({
                source: ["Salary", "Allowance", "Gift"],
                minLength: 0
            }).focus(function() {
                $(this).data("uiAutocomplete").search($(this).val());
            });

            $("#Amount").on("click",
                function() {
                    $(this).select();
                });

            var form = $("#input-form")
                .removeData("validator")
                .removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse(form);

            var editForm = $("#edit-form")
                .removeData("validator")
                .removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse(editForm);
            
            $("#graphs").hide();

            var newRowId;
            $.fn.dataTable.moment('DD.MM.YYYY');
            $.extend($.fn.dataTable.ext.classes,
                {
                    sStripeEven: '',
                    sStripeOdd: ''
                });
            recordTypeFilter();
            var table = $("#records-table").DataTable({
                "columnDefs": [
                    {
                        "orderable": false,
                        "targets": [6],
                        "searchable": false
                    }
                ],
                "fnCreatedRow": function(nRow, aData, iDataIndex) {
                    if (isIncome(aData[1])) {
                        $(nRow).addClass('income-record');
                    } else {
                        $(nRow).addClass('expense-record');
                    }
                    $(nRow).attr("value", newRowId);
                },
                "drawCallback": function(settings) {
                    updateEditAndRemoveFields();
                }
            });

            

            function updateEditAndRemoveFields() {
                $(".edit-item, .remove-item").unbind();
                $(".edit-item, .remove-item").removeAttr("onclick");
                $(".edit-item").on("click",
                    function() {
                        var tableRow = $(this).closest('tr');
                        renderEditDialog(tableRow, $(this), editForm, "/Groups/EditRecord/");
                        $("#edit-form-div").dialog("open");
                    });

                //When clicked on remove link, post to controller and remove from database
                //Also remove directly from table without refreshing the page
                $(".remove-item").on("click",
                    function() {
                        var id = $(this).closest('tr').attr("value");
                        var myRemoveItem = $(this);
                        $.post("/Groups/RemoveRecord/",
                            AddAntiForgeryToken({ id: id }),
                            function(data) {
                                if (data) {
                                    //SUCCESS
                                    $("#snackbar").text("Item removed successfully!");
                                    var row = myRemoveItem.closest('tr');
                                    table.row(row).remove().draw(false);
                                    showSnackbar();
                                } else {
                                    //FAILURE
                                    $("#snackbar").text("There has been a problem deleting your item. Try again...");
                                    showSnackbar();
                                }
                            });
                    });
            }

            var subTypeMenu = $("#subtypeMenu").selectmenu();
            subTypeMenu.on('selectmenuchange', function() {
                var val = $.fn.dataTable.util.escapeRegex($(this).val());
                var column = table.column(1);
                column.search(val !== "allTypes" ? '^' + val + '$' : '', true, false).draw();
            });
            $("#transactionTypesMenu").selectmenu({
                change: function(event, ui) {
                    var options = [];                   
                    if ($(this).find(":selected").text().valueOf() === "Incomes".valueOf()) {
                        options.push("<option value='" + "allTypes" + "'>" + "All Types" + "</option>");
                        incomes.forEach(function (item) {
                            options.push("<option value='" + item
                                + "'>" + item + "</option>");
                        });
                        subTypeMenu.empty().append(options.join("")).selectmenu("widget");
                        $("#subtypeMenuDiv").show();
                    } else if ($(this).find(":selected").text().valueOf() === "Expenses".valueOf()) {
                        options.push("<option value='" + "allTypes" + "'>" + "All Types" + "</option>");
                        expenses.forEach(function (item) {
                            options.push("<option value='" + item
                                + "'>" + item + "</option>");
                        });
                        subTypeMenu.empty().append(options.join("")).selectmenu("widget");
                        $("#subtypeMenuDiv").show();
                    } else {
                        subTypeMenu.val("allTypes");
                        subTypeMenu.selectmenu("refresh");
                        $("#subtypeMenuDiv").hide();
                    }

                    subTypeMenu.selectmenu("refresh");
                    var column = table.column(1);
                    column.search('', true, false).draw();
                }
            });

            $("#viewTypeMenu").selectmenu({
                change: function(event, ui) {
                    if ($(this).find(":selected").text().valueOf() === "Table".valueOf()) {
                        $("#graphs").hide();
                        $("#buttons-div").show();
                        $("#table-div").fadeIn(500);
                    } else {
                        $("#table-div").hide();
                        $("#buttons-div").hide();
                        $("#graphs").fadeIn(500);
                    }
                }
            });
            //open a dialog box with form when + button is clicked
            var addNewRecord = $("#addNewRecord").on("click",
                function() {
                    $("#input-form-div").dialog("open");
                }).button();
            addNewRecord.hide();
            $("#group-select").hide();
            updateGroups(table);

            $("#0").on("click",
                function() {
                    $(this).select();
                });

            var userEmailCount = 1;
            $("#add-user-email").on("click",
                function() {
                    if ($("#create-group-div .usergroupemail").length === 9) {
                        $(this).button("disable");
                    }
                    $("#wrapper").append('<div class="usergroupemail input-group"><input asp-for="InputEmail" autocomplete="email"' +
                        ' value="default@example.com" id="' +
                        ++userEmailCount +
                        '" class="form-control" style="width: 96%;" /><span class="input-group-btn" style="height: 100%;"><button class="removeUserFromGroupButton btn-lg btn-danger" style="height: 100%;">-</button></span>' +
                        '<span asp-validation-for="InputEmail"></span><br/>' +
                        '<div>');
                    $(".removeUserFromGroupButton").on("click",
                        function() {
                            $(this).closest("div").remove();
                            userEmailCount--;
                            $("#add-user-email").button("enable");
                        });
                    $("#" + userEmailCount).on("click",
                        function() {
                            $(this).select();
                        });
                }).button();

            var formGroup = $("#create-group-form")
                .removeData("validator")
                .removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse(formGroup);

            var recordsCount = @Model.PartialModel.Count;

            hasDatabaseSetChanged(recordsCount, true);

            $("#create-group-div").dialog({
                open: function(event, ui) {
                    $("#create-group-div").dialog();
                    $(".ui-dialog-titlebar-close", ui.dialog | ui).hide();
                },
                draggable: false,
                resizable: false,
                width: 350,
                modal: true,
                position: {
                    my: 'center top',
                    at: 'center bottom',
                    of: "#create-group-button"
                },
                show: 300,
                hide: 300,
                autoOpen: false,
                buttons: {
                    //ajax call to submit data
                    "Submit": function() {
                        formGroup.validate();
                        if (formGroup.valid()) {
                            $(this).dialog("close");
                            var emails = getEmailsAndResetForm(userEmailCount);
                            var name = $("#GroupName").val();
                            $.post("/Groups/AddGroup",
                                AddAntiForgeryToken({ "name": name, "emails": emails }),
                                function(data) {
                                    $("#snackbar").text(data);
                                });
                            showSnackbar();
                        }
                        //If item is added or not -> reset input form
                        $("#create-group-form").trigger('reset');
                        userEmailCount = 1;
                        setTimeout(function () {updateGroups(table)}, 1000);
                    },
                    "Cancel": function() {
                        $(this).dialog("close");
                    }
                }
            });

            $("#create-group-button").on("click",
                function() {
                    $("#create-group-div").dialog("open");
                }).button();


            $("#input-form-div").dialog({
                open: function(event, ui) {
                    $("#input-form-div").dialog();
                    $(".ui-dialog-titlebar-close", ui.dialog | ui).hide();
                },
                draggable: false,
                resizable: false,
                width: 350,
                modal: true,
                position: {
                    my: 'center top',
                    at: 'center bottom',
                    of: "#addNewRecord"
                },
                show: 300,
                hide: 300,
                autoOpen: false,
                buttons: {
                    //ajax call to submit data
                    "Submit": function() {
                        form.validate();
                        if (form.valid()) {
                            $(this).dialog("close");
                            var name = $("#InputRecord_Name").val();
                            var amount = $("#InputRecord_Amount").val();
                            var description = $("#item-description").val();
                            var type;
                            if ($("#record-type-select").find(":selected").text().valueOf() === "Income".valueOf()) {
                                type = $("#IncomeType").val();
                                $("#test").text(type);
                            } else {
                                type = $("#ExpenseType").val();
                                $("#test").text(type);
                            }
                            var groupName = $("#group-name-select").find(":selected").text().valueOf().trim();
                            $.post("/Groups/AddRecord/",
                                AddAntiForgeryToken({
                                    name: name,
                                    type: type,
                                    amount: amount,
                                    description: description,
                                    groupName: groupName
                                }),
                                function(data) {
                                    if (data != null) {
                                        //SUCCESS
                                        $("#snackbar").text("Item added successfully!");
                                        showSnackbar();
                                        newRowId = data.id;
                                        table.row.add([
                                            name, type, description,
                                            isIncome(type)
                                            ? parseFloat(Math.abs(amount)).toFixed(2)
                                            : parseFloat(Math.abs(amount) * -1).toFixed(2), formatDate(data.date),
                                            groupName,
                                            '<a class="edit-item" style=" cursor: pointer;">Edit</a> ' +
                                            '| <a class="remove-item" style="cursor:pointer;">Remove</a>'
                                        ]).draw(false);
                                    } else {
                                        //FAILURE
                                        $("#snackbar").text("There has been a problem adding your item. Try again...");
                                        showSnackbar();
                                    }
                                });

                            //If item is added or not -> reset input form
                            $("#input-form").trigger('reset');
                            resetDialog();
                        }
                    },
                    "Cancel":

                        function() {
                            $(this).dialog("close");
                        }
                }
            });

            resetDialog();
            //Record type in the form
            $("#record-type-select").selectmenu({
                change: function(event, ui) {
                    if ($(this).find(":selected").text().valueOf() === "Income".valueOf()) {
                        $("#expense-select").hide();
                        $("#income-select").show();
                    } else {
                        $("#income-select").hide();
                        $("#expense-select").show();
                    }
                }
            });
            $("#edit-form-div").hide();

            dateFilter();

            $("#datepicker_from").datepicker({
                dateFormat: 'dd.mm.yy',
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true,
                autoSize: true
            }).on("keyup change", function() {
                table.draw();
            });

            $("#datepicker_to").datepicker({
                dateFormat: 'dd.mm.yy',
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true,
                autoSize: true
            }).on("keyup change", function() {
                table.draw();
            });


            var subTypeMenuChart = $("#transaction-subtype-chart").selectmenu();
            
            var transactionTypeChart = $("#transaction-type-chart").selectmenu({
                change: function(event, ui) {
                    var options = [];                   
                    if ($(this).find(":selected").text().valueOf() === "Incomes".valueOf()) {
                        options.push("<option value='" + "allTypes" + "'>" + "All Types" + "</option>");
                        incomes.forEach(function (item) {
                            options.push("<option value='" + item
                                + "'>" + item + "</option>");
                        });
                        subTypeMenuChart.empty().append(options.join("")).selectmenu("widget");
                        $("#transaction-subtype-chart-div").show();
                    } else if ($(this).find(":selected").text().valueOf() === "Expenses".valueOf()) {
                        options.push("<option value='" + "allTypes" + "'>" + "All Types" + "</option>");
                        expenses.forEach(function (item) {
                            options.push("<option value='" + item
                                + "'>" + item + "</option>");
                        });
                        subTypeMenuChart.empty().append(options.join("")).selectmenu("widget");
                        $("#transaction-subtype-chart-div").show();
                    } else {
                        subTypeMenuChart.val("allTypes");
                        subTypeMenuChart.selectmenu("refresh");
                        $("#transaction-subtype-chart-div").hide();
                    }

                    subTypeMenuChart.selectmenu("refresh");
                }
            });

            $("#new-chart-button").button();
            $("#transaction-subtype-chart-div").hide();

            var dateFromChart = $("#datepicker_from_chart").datepicker({
                dateFormat: 'dd.mm.yy',
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true,
                autoSize: true
            });

            var dateToChart = $("#datepicker_to_chart").datepicker({
                dateFormat: 'dd.mm.yy',
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true,
                autoSize: true
            });

            $("#reset-button").button().click(function () {
                $("#create-chart-form")[0].reset();

                if (transactionTypeChart.find(":selected").text().valueOf() === "Incomes".valueOf()) {
                    $("#transaction-subtype-chart-div").show();
                } else if (transactionTypeChart.find(":selected").text().valueOf() === "Expenses".valueOf()) {
                    $("#transaction-subtype-chart-div").show();
                } else {
                    $("#transaction-subtype-chart-div").hide();
                }
            });

            currentNumberOfCharts = $("canvas").length;

            var xAxis = $("#x-axis-select").selectmenu();

            var chartType = $("#chart-type").selectmenu();

            $("#submit-chart").button().click(function () {
                getChart((dateFromChart.val()),
                    (dateToChart.val()),
                    chartType.val(),
                    transactionTypeChart.val(),
                    subTypeMenuChart.val(),
                    $("#group-select-chart").find(":selected").text().valueOf(),
                    xAxis.val()
                );
            });

            makeChartsDraggable();

            var email = $("#newUserEmail");
            $("#addNewUser").button();
            var addUserButton = $("#add-user-to-group").button().click(function () {
                addUserToGroup(email.val(), $("#group-select-user").find(":selected").text().valueOf());
            });

            //END OF JQUERY CODE
            
        });
    </script>
}
