﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Constants
@model Dictionary<Record, UserGroup>
<table class="table" id="records-table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Date</th>
       
            @if (Model.Values.Any(t => t != null))
            {
                <th>Group</th>
            }
        <th></th>
    </tr>
    </thead>
    <tbody>
    @if (Model != null)
    {
        foreach (var item in Model.Keys)
        {
            
            if (@item.Amount >= decimal.Zero)
            {
                <tr value="@(item.Id)" class="income-record">
                    
                    <td>@(item.Name)</td>
                    <td>@((IncomeType) item.Type)</td>
                    <td>@(item.Description)</td>
                    <td>@(item.Amount)</td>
                    <td>@item.Date.ToString("dd.MM.yyyy")</td>
                    @{
                        Model.TryGetValue(item, out var group);
                        if (group != null)
                        {
                            <td value="@(group.GroupNavigation.Name)">@(group.GroupNavigation.Name)</td>
                        }
                    }
                    <td>
                        <a class="edit-item" style="cursor: pointer;">Edit</a> |
                        <a class="remove-item" style="cursor: pointer;">Remove</a>
                    </td>
                    
                </tr>
            }
            else
            {
                <tr value="@(item.Id)" class="expense-record">
                    <td>@(item.Name)</td>
                    <td>@((ExpenseType) item.Type)</td>
                    <td>@(item.Description)</td>
                    <td>@(item.Amount)</td>
                    <td>@item.Date.ToString("dd.MM.yyyy")</td>
                    @{
                        Model.TryGetValue(item, out var group);
                        if (group != null)
                        {
                            <td value="@(group.GroupNavigation.Name)">@(group.GroupNavigation.Name)</td>
                        }
                    }
                    <td>
                        <a class="edit-item" style="cursor: pointer;">Edit</a> |
                        <a class="remove-item" style="cursor: pointer;">Remove</a>
                    </td>
                    
                </tr>
            }
        }
    }
    </tbody>
</table>
